LINQMusicBathClient/Service References/SongServiceRef/LINQMusicBathService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LINQMusicBathService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LINQMusicBathService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Song">
    <xs:sequence>
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="SongID" type="xs:int" />
      <xs:element minOccurs="0" name="SongName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Song" nillable="true" type="tns:Song" />
  <xs:complexType name="SongFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongFault" nillable="true" type="tns:SongFault" />
</xs:schema>